<h1 class="text-xl font-bold">Users</h1>
<%= link_to 'New user', new_system_user_path %>

<% if @users.any? %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Full name</th>
        <th>Email address</th>
        <th>Password</th>
        <th>Created at</th>
        <th>Updated at</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.full_name %></td>
          <td><%= user.email_address %></td>
          <td><%= user.password %></td>
          <td><%= user.created_at %></td>
          <td><%= user.updated_at %></td>
          <td>
            <%= link_to 'Edit', edit_system_user_path(user) %>
          </td>
          <td>
            <%= button_to 'Delete', [:system, user], method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
