<h1 class="text-xl font-bold">Graphs - new</h1>
<ol>
  <% @properties.each do |property| %>
    <li><%= property %></li>
  <% end %>
</ol>

<%= form_with model: @graph do |form| %>
  <%= form.label :name, 'Name:' %>
  <%= form.text_field :name %>
  <%= form.label :propery, "Property:" %>
  <%= form.text_field :property %>

  <%= form.submit %>
<% end %>
