<!DOCTYPE html>
<html>
  <head>
    <title>NLR</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
  </head>

  <body>
    <main class="container mx-auto px-14">
      <div class="grid place-items-center h-screen">
        <div class="w-96">
          <h1 class="text-center mb-10">NLR Visualisation Dashboard</h1>
          <%= render "layouts/flash_message" %>
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
