<!DOCTYPE html>
<html>
  <head>
    <title>NLR</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
  </head>

  <body>
    <%= render "layouts/sidebar" %>
    <%= render "layouts/header" %>

    <main class="px-16 py-10">
      <%= render "layouts/flash_message" %>
      <%= yield %>
    </main>
  </body>
</html>
