<!DOCTYPE html>
<html>
  <head>
    <title>NLR</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
  </head>

  <body class="grid grid-cols-4 h-screen">
    <%= render "layouts/sidebar" %>

    <main class="col-span-3 px-16 py-10">
      <header class="p-5 flex justify-end">
        <%= link_to 'Workspace', workspace_path, class: 'p-2' %>
        <span class="p-2">
          <%= @current_user.full_name %>
        </span>
      </header>

      <% flash.each do |name, message| %>
        <% if name == 'success' %>
          <div class="flash-message flash-message__success">
            <%= message %>
          </div>
        <% else %>
          <div class="flash-message flash-message__error">
            <%= message %>
          </div>
        <% end %>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
